{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
    {% block css_files %}{% endblock %}
    <header id="main-navigation">
        <h1>Select the following images below to create a combo</h1>
        {% block header %}{% endblock %}
    </header>   
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
