{% extends "base.html" %}
{% load static %}


{% block title %}
    Combo Notation Creator
{% endblock %}


{% block header %}
<div class="button-group-container">
    <div class="button-group">
        <!-- Select Character Drop Down -->
        <form method="post">
            {% csrf_token %}
            <select name="character">
                {% for character, image in characters.items %}
                    <option value="{{ image }}">{{ character }}</option>
                {% endfor %}
            </select>
            <br>
            <input class="submit" type="submit" value="Select Character">
        </form>

        
        <!-- Remove Character-->
        {% if request.session.user_character %}
        <form method="post" action="{% url "remove-character" %}">
            {% csrf_token %}
            <button type="submit" value={{ request.session.user_character }} name="remove">
                Clear Character
            </button>
        </form>
        {% endif %}
    </div>

    <div class="button-group">
        <!-- Change Button Display -->
        <form method="post">
            {% csrf_token %}
            <select name="button_colors">
                {% for bc in button_colors %}
                    <option value="{{ bc }}">{{ bc|title }}</option>
                {% endfor %}
            </select>
            <br>
            <input class="submit" type="submit" value="Change Button Color">
        </form>


        <!-- Toggle Stances -->
        <form method="post" action="{% url "toggle" %}">
            {% csrf_token %}
            <button type="submit" value={{ request.session.stance_buttons }} name="toggle">
                Toggle {% if request.session.stance_buttons%}Off{%else%}On{% endif %}  Stance Buttons
            </button>
        </form>
    </div>
</div>
{% endblock %}


{% block buttons %}
<div class="button-container">
    <!-- Displaying Attack Buttons -->
    <form method="POST" action="{% url 'index' %}">  
        {% csrf_token %}
        <div id="attack-buttons">
            {% for move in attack_buttons %}
                <button type="submit" value="{{ move }}" name="move-value">
                    <img src="{% static move %}" alt="Move Image">
                </button>
            {% endfor %}
        </div>
    </form>


        <!-- Displaying Movement Buttons -->
    <form method="POST" action="{% url 'index' %}">  
        {% csrf_token %}
        <div id="movement-buttons">
            {% for move in movement_buttons %}
                <button type="submit" value="{{ move }}" name="move-value">
                    <img src="{% static move %}" alt="Move Image">
                </button>
            {% endfor %}
        </div>
    </form>


    <!-- Displaying General Buttons -->
    <form method="POST" action="{% url 'index' %}">
        {% csrf_token %}
        <div id="general-buttons">
            {% for move in general_buttons %}
                <button type="submit" value="{{ move }}" name="move-value">
                    <img src="{% static move %}" alt="Move Image">
                </button>
            {% endfor %}
        </div>
    </form>

    <!-- Displaying Stance Buttons -->
    {% if request.session.stance_buttons %}
        <form method="POST" action="{% url 'index' %}">
            {% csrf_token %}
            <div id="movement-buttons">
                {% for move in stance_buttons %}
                    <button type="submit" value="{{ move }}" name="move-value">
                        <img src="{% static move %}" alt="Move Image">
                    </button>
                {% endfor %}
            </div>
        </form>
    {% endif %}

</div>
{% endblock %}


{% block combo %}

<div class="combo-container">
    <!-- Render Session Character -->
    <div id="user-character">
        {% if request.session.user_character is not None %}
            <img src="{% static request.session.user_character %}" alt="Character Image">
        {% endif %}
    </div>
    
    <!-- Render Combo -->
    <div id="combo">
        {% if request.session.combo %}
            {% for img in request.session.combo %}
                <img src="{% static img %}" alt="{{ img }}">
            {% endfor %}
        {% else %}
            <h2>No combo created yet! Build your combo using the buttons above.</h2>
        {% endif %}
    </div>
</div>

<div class="combo-button-container">
     <!-- Clear Combo -->
     {% if request.session.combo %}
        <form method="POST" action="{% url 'index' %}">  <div id="clear-combo">
            {% csrf_token %}
            <button type="submit" value="clear" name="combo-buttons">
                Clear Combo
            </button>
            <input type="hidden" name="clear" value="clear">
        </form>
    {% endif %}

    <!-- Undo -->
    {% if request.session.combo %}
        <form method="post">
            {% csrf_token %}
            <button type="submit" value="undo" name="combo-buttons">
                Undo
            </button>
            <input type="hidden" name="undo" value="undo">
        </form>

    {% endif %}

    
    <!-- Download Combo  -->
    {% if request.session.combo %}
        <form method="post" action="{% url 'download-combo' %}">
            {% csrf_token %}
            <button type="submit" value="{{ request.session.combo }}" name="combo-buttons">
                Download Combo
            </button>
            <input type="hidden" name="user_character" value="{{ request.session.user_character }}">
            <input type="hidden" name="combo" value="{{ request.session.combo }}">
        </form>
    {% endif %}
</div>
{% endblock %}