{% extends "base.html" %}
{% load static %}


{% block title %}
    Combo Notation Creator
{% endblock %}


{% block content %}

    <!-- Select Character Drop Down -->
    <form method="post">
        {% csrf_token %}
        <select name="character">
            {% for character, image in characters.items %}
                <option value="{{ image }}">{{ character }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Select Character">
    </form>

    
    <!-- Remove Character-->
    {% if request.session.user_character %}
    <form method="post" action="{% url "remove-character" %}">
        {% csrf_token %}
        <button type="submit" value={{ request.session.user_character }} name="remove">
            Delete Character
        </button>
    </form>
    {% endif %}
    <!-- Change Button Display -->

    <form method="post">
        {% csrf_token %}
        <select name="button_colors">
            {% for bc in button_colors %}
                <option value="{{ bc }}">{{ bc|title }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Change Button Color">
    </form>


    <!-- Displaying Buttons -->
    <form method="POST" action="{% url 'index' %}">  <div id="move-buttons">
        {% csrf_token %}
    <div id="move-buttons">
        {% for move in buttons %}
            <button type="submit" value="{{ move }}" name="move-value">
                <img src="{% static move %}" alt="Move Image">
            </button>
        {% endfor %}
    </div>
    </form>


    <!-- Render Session Character -->
    <div id="user-character">
        {% if request.session.user_character is not None %}
            <img src="{% static request.session.user_character %}" alt="Character Image">
        {%else%}
            <p>No character selected </p>
        {% endif %}
    </div>
    
    <!-- Render Combo -->
    <div id="combo">
        {% if request.session.combo %}
            {% for img in request.session.combo %}
                <img src="{% static img %}" alt="{{ img }}">
            {% endfor %}
        {%else%}
            <p> error with combo </p>
        {% endif %}
    </div>

     <!-- Clear Combo -->
    <form method="POST" action="{% url 'index' %}">  <div id="clear-combo">
        {% csrf_token %}
        <button type="submit" value="clear" name="combo-buttons">
            Clear Combo
        </button>
        <input type="hidden" name="clear" value="clear">
    </form>

    <!-- Undo -->
    {% if request.session.combo %}
        <form method="post">
        {% csrf_token %}
        <button type="submit" value="undo" name="combo-buttons">
            Undo
        </button>
        <input type="hidden" name="undo" value="undo">
    </form>

    {% endif %}

    
    <!-- Download Combo  -->
    {% if request.session.combo %}
        <form method="post" action="{% url 'download-combo' %}">
        {% csrf_token %}
        <button type="submit" value="{{ request.session.combo }}" name="combo-buttons">
            Download Combo
        </button>
        <input type="hidden" name="user_character" value="{{ request.session.user_character }}">
        <input type="hidden" name="combo" value="{{ request.session.combo }}">
    </form>
    {% endif %}


{% endblock %}